<main class="main">
  <div class="content">
    <div class="navbar bg-base-100">
      <a class="btn btn-ghost text-xl"><i class="bi bi-arrow-up-right-square-fill"></i>RevPath</a>
    </div>
    <div class="bg-base-200">
      <div class="hero">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">🚀 Coming Soon!</h1>
            <p class="py-6">With RevPath you'll be able to simplify your billing, automate your invoicing, and optimize your recurring revenue for any SaaS. Stay tuned for updates and be the first to experience seamless subscription management with RevPath!</p>
            <p class="btn btn-accent">View our Product Roadmap Below!</p>
          </div>
        </div>
      </div>
      <h2 class="text-center text-4xl font-bold mb-5">📋 Product Roadmap</h2>
      <div class="flex justify-center">
        <ul class="steps steps-vertical my-5">
          <li data-content="" class="step">
            <div>
              <strong>Phase 1: MVP Launch</strong><br>
              Initial launch with core features including <br> user authentication, basic subscription management, <br> automated billing, and a simple analytics dashboard.
            </div>
          </li>
          
          <li data-content="" class="step my-2">
            <div>
              <strong>Phase 2: Enhanced Features</strong><br>
              Introduce advanced subscription options, enhanced <br> analytics, detailed reporting, and robust <br> notifications for billing events.
            </div>
          </li>
          
          <li data-content="" class="step my-2">
            <div>
              <strong>Phase 3: Integrations & Scalability</strong><br>
              Add CRM and accounting system integrations, <br> provide API access, and optimize for performance <br> and scalability.
            </div>
          </li>
          
          <li data-content="" class="step my-2">
            <div>
              <strong>Phase 4: User Experience Enhancements</strong><br>
              Focus on user experience with customizable dashboards, <br> mobile responsiveness, and a user feedback system.
            </div>
          </li>
          
          <li data-content="" class="step my-2">
            <div>
              <strong>Phase 5: Expansion & Growth</strong><br>
              Add multi-language and multi-currency support, <br> introduce marketing tools, and build community <br> features for collaboration.
            </div>
          </li>
        </ul>
      </div>
      <footer class="footer items-center p-4 bg-base-100 text-neutral-content">
        <aside class="items-center grid-flow-col">
          <p>© 2024 RevPath</p>
        </aside> 
        <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
          <a href="https://twitter.com/0xVladimirG" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-twitter-x"></i>
          </a>
        </nav>
      </footer>
    </div>
  </div>
</main>

<router-outlet />